div.product
{
	margin-top: 50px;
	margin-left: 50px;
	width: 15%;
	float: left;
	transition: margin-top 0.6s ease;
}
.thumb
{
	width: 100%;
	height: 200px;
}
.product:hover
{
	cursor: pointer;
	margin-top: 28px;
}
.title
{
	font-family: Lobster;
	text-align: center;
	font-style: bold;
	font-size: 12.5pt;
	color: white;
}
div.secondBanner
{
	background-color: #90d5ec;
	background-image: linear-gradient(315deg, #90d5ec 0%, #fc575e 74%);
	width:100%;
	height: 300px;
}
div.thirdBanner
{
	margin-top: 5px;
	background-color: #e96196;
	background-image: linear-gradient(315deg, #e96196 0%, #ffffff 74%);
}
.thirdThumb
{
	margin-left: 25px;
	width: 30%;
	height: 30%;
}
.dellSpecs
{
	float: left;
	
}
.specs
{
	margin-top: -200px;
	margin-left: 380px;
	text-align: center;
	font-family: Russo One;
	font-style: bold;
	font-size: 14pt;
}
.thirdBanner:hover
{
	cursor: pointer;
}
div.fourthBanner
{
	margin-top: 15px;
	float: left;
	background-color: #f39f86;
	background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
	width: 100%;
	height: 300px;
}
div.fourthBanner:hover
{
	cursor: pointer;
}
.acerThumb
{
	margin-left: 25px;
	width: 30%;
	height: 30%;
}
.acerSpecs
{
	margin-left: 350px;
	margin-top: -200px;
	text-align: center;
	font-family: Russo One;
	font-style: bold;
	font-size: 14pt;
}

													/* Product Styles goes here*/

.bg-black
{
	background-color: black;
	overflow-x: hidden;
}
.mobile-header
{
	background-color: black;
	width:100%;
	display:none;
}

.menu-on-left
{
	top:0;
	background-color: white;
	margin-left:-300px;
	transition:all 0.3s ease-in-out;
	z-index: 999;
	width:300px;
	height:100%;
	position:fixed;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.chary:hover
{
	color:red;
}
.mobile-link
{
	color:#3E2723/*#448AFF*/;
	width:100%;
	padding:2% 2% 2% 2%;
	font-size:1.5rem;
	border-bottom:1px solid #BDBDBD;
}
.mobile-nav
{
	position:absolute;
	cursor:pointer;
	/*display:none;*/
	visibility: hidden;
	opacity: 0;
	transition: all .9s ease;
}
.mobile-link:hover 
{
	font-size:1.5rem;
	background-color:white;
	color:#448AFF;
	font-style:bold;
	font-family:'Cabin';
}
#show-menu
{
	font-size:1.5rem;
	color:#448AFF;
	cursor:pointer;
	padding:2% 2% 2% 2%;
	transform:rotate(45deg);
	transition:all 0.3s;
	position: absolute;
	left:15px;
}
#close-menu
{
	font-size:1.5rem;
	color:#448AFF;
	cursor:pointer;
	padding:5% 4% 2% 2%;
	transition:all 0.3s;
	position: absolute;
	left:13px;
}
.product-name
{
	color: #448AFF;
	font-style: bold;
	font-family: Krona One;
	padding:15px 15px 15px 15px;
	text-align: center;
	display: inline-block;
	font-size: 2.5vw;
}
.imageContainer
{
	margin-top: 50px;
	overflow: hidden;
	margin-bottom: 10px;  
	display: flex;
	justify-content: center;
	align-items: center;
}
.images
{
	display: none;
	/*width: 50%;
	height: 250px;*/
	align-self: center;
	height: 300px;
	width: 300px;
	float: left;
	overflow: hidden;
	transition: all .7s ease;
}
.image
{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: auto;
	height: 300px;
	transition: all .7s ease;
}
/*.images:hover .image
{
	transform:scale(1.2);
}*/
.wish
{
	margin-top:-15%;
	
	width:fit-content;
}
.add-to-wishlist
{
	/*background-color: blue;*/
	width: 50px;
	height: 50px;
	cursor: pointer;
	font-size:2vw;
	color:white;
	
	border-radius: 50%;
	transition:color 0.3s, border 0.6s;
}
#heart
{
	transition: padding 0.8s;
}
#message
{
	background-color: white;
	color: black;
	padding:5px 10px; 
	border-radius: 10px;
	z-index: -1;
	opacity: 0;
	transition: all 0.3s;
	float: left;
	transform:translateX(-20%) translateY(12px);
}
#message::after
{
	content:'';
	position: absolute;
	bottom: 78%;
	left: 30%;
	margin-top: 5px;
	border-width: 8px;
	border-style: solid;
	transform:rotate(45deg);
	border-color: white;
}
.wish:hover #message
{
	transform:translateX(-20%) translateY(7px);
	opacity:1;
}
/*.add-to-wishlist:hover #heart
{
	padding:10px;
}
.add-to-wishlist:hover
{
	background-color: black;
	display: block;
	color: red;
	border:2px dashed #F50057;
}*/
.image-prev, .image-next {
  cursor: pointer;
  
  width: fit-content;
  padding: 16px;
  margin-top: -22px;
  color: #64B5F6;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  align-self: center;
}
.image-next {
  float: right;
  border-radius: 3px 0 0 3px;
  top:0;
  margin-top: -1.6%;
  
}
.image-prev
{
	float: left;
	left: 0;
}
.image-prev:hover, .image-next:hover {
  background-color: #64B5F6;/*#344955;rgba(0,0,0,0.8);*/
  color: white;
}
div.iphoneSpecs
{
	border: 1px solid;
	border-color: #BDBDBD;
	box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, .16);
	width: fit-content;
	margin: auto;
	padding:10px 5px 10px 10px;
}
.cost
{
	margin-top: 5px;
	margin-bottom: 25px;
	text-align: center;
	font-family: Lobster;
	font-style: bold;
	font-size: 2vw;
	color: #76FF03;
	
}
.inhead
		{
			color:#CFD8DC; /*#616161;*/
			text-align: left;
		}
div.buttons
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5%;
	
}

.actionBtns
{
	background-color: #448AFF;
	/*background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);*/
	border-radius: 25px;
	width: 200px;
	height: 50px;
	font-family: Krona One;
	font-style: bold;
	font-size: 1.5vw;
	transition: all 0.3s ease;
	padding:3px 7px 4px 7px;
	
}
.actionBtns:hover
{
	border-color:#448AFF;
	background-color: #2962FF;
	cursor: pointer;
	/*width: 20%;*/
/*	color: white;*/
}
.actionBtns:focus
{
	outline: none;
}


.sticky-link
{
	display: inline-block;
	color: #BDBDBD;
	font-size: 1.5rem;
	font-style: bold;
	margin-left: 25px;
	margin-top: 10px;
	transition: all 0.3s;
	font-family: caption;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom: 1.8px solid black;
}
.Global_header .sticky-link:hover
{
	color: #006AFF;
	text-decoration:none;
	border-bottom: 1.8px solid #006AFF;
}
.dropit /*The header*/
{
	/*float: left;*/
	position: relative;
   display: inline-block;
}
.dropped /*The hidden content*/
{
	border-radius: 17px;
	opacity: 0.9;
	display: none;
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 99;
	background-color: #424242;
 	min-width: 160px;
 	text-align: center;
 	overflow: hidden;
}
.dropit:hover .dropped /*will display block*/
{display: block;}

.dropped-link /*anchor link*/
{
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	color: white;
	width: 100%;
}
.dropped ul li:hover
{
	color: black;
	background-color: #BDBDBD;
}
.dropped-link:hover
{
	color: black;
}
.single-line-detail
{
	font-size:1.5vw;
	padding-top: 15px;
	padding-left: 50px;
	color:#448AFF;
}
div.Global_header
{
	text-align: center;
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	margin-left: -0.5vw;
	margin-top: -0.6vw;
	margin-bottom:1vw;  
  	right: 0;
	width: 101%;
	height: auto;
	background-color: black;
	color:white;
	box-shadow: 0px 1px 3px 1px #BDBDBD;

}
div.Global_footer
{
	background-color: #0cbaba;
	background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
	bottom:0;
	width: 101%;
	margin-left:-0.6%;
	margin-right:-0.6px;
	height: 18vw;
	display: block;
	clear:both;
	/*position: absolute;
	margin-left: -7px;*/
}

html,body { height:100%; }

.footer-tag
{
	display: inline-block;
	color: white;
	font-size: 1.5vw;
	transition: color 0.6s ease;
	margin-left: 20px;
	margin-top: 20px;
}

.footer-link
{
	display: inline-block;
	/*margin-top: 15px;*/
	color: #CFD8DC;
	font-size: 1.5vw;
	
	/*margin-bottom: auto;
	/*margin-left: 50px;*/
	z-index: 1;
	opacity: 1;
	transition: color 0.65s;
	align-self: center;
}
.footer-link:hover
{
	color:white;
}
.social-ico
{
	float: left;
	border-radius: 50%;
	width: 40px;
	height: 40px;
/*	margin-top: 12px;*/
	margin-left: 12%;
	text-align: center;
	cursor: pointer;
	display: flex;
  align-items: center;
  justify-content: center;
}
.fb-logo:hover
{
	background-color:#2962FF;
	color: white;
	
}
.youtube-logo:hover
{
	background-color: white;
	color: red;
}
.youtube-logo:hover .fa-youtube
{
	color: red;
}
.insta-logo:hover
{
	background: linear-gradient(45DEG,#405DE6,#5851DB,#833AB4,#C13584,#E1306C,#FD1D1D);
}
.twitter-logo:hover
{
	background-color:#2979FF;
}
/*div.vl
{
	margin-top: 25px;
	margin-left: 25px;
	float: left;
	border-left: 2px solid #BDBDBD;
	height: 20%;
}*/
.e-contact
{
	border-right:1px solid #BDBDBD;
	float: left;
	width: auto;
	padding:15px;
	height:auto;
}
div.Global-social
{
	float: left;
	width: auto;
}
.fab
{
	font-size: 2vw;
	color: white;
	display: flex;
  align-items: center;
  justify-content: center;
}
.Social
{
	display: flex;
  align-items: center;
  justify-content: center;
	/*margin-top: 7px;*/
	font-size: 30pt;
}
.fab:hover
{
	opacity: 1;
}
div.Global_specs
{
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-left: 25%;
	margin-right: 25%;
	width: auto;
}

.products_GridContainer
{
	border:1px solid #BDBDBD;
	box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.25);
	margin-top: 25px;
	display: grid;
  	grid-template-columns: auto auto auto auto;
  	padding: 25px;
 	overflow: hidden;
 	border-radius: 20px;
	 background-color: white;
	 position: relative;
}
.products_Grid
{
	/*text-align: center;*/
	width: 70%;
	height: 92%;
	background-color: white;
	border:1px solid #BDBDBD;
	margin-top:20px;
	border:none;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}
.products_Grid:hover
{
	cursor: pointer;
	margin-top:-5px;
    box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.25);
    color: navy;
	border-radius: 15px;
	transform: scale(1.1);
}



@media only screen and (min-width:120px) and (max-width: 600px)
		{
			.product-name
			{
				font-size:4vw;
			}
			#show-menu
			{
				margin-top:5px; 
				margin-right: 5px;
				float:left;
			}
			#home-header
			{
				display: block;
			}
			.Global_header
			{
				display:none;
			}
			.mobile-header
			{
				display:block;
			}
			.fab
			{
				font-size: 5vw;
			}
			.footer-tag
			{
				font-size:4vw;
			}
			.social-ico
			{
				width:5px;
				height:5px;
				float:left;
			}
			
			.single-line-detail
			{
				font-size:4vw;
			}
			.cost
			{
				font-size:5vw;
				margin:10px 10px 10px 10px;
			}
			.actionBtns
			{
				border-radius:0px;
				font-size:3vw;
				border:none;
				padding:3px;
				width: 100px;
			}
			div.Global_footer
			{
				height: 38vw;
			}
			.brand-in-product
			{
				margin-top:5px;
				font-size:20pt;
				display:block;
				color:orange;
				float: left;
				font-family: Lobster;	
				margin-left:50px;
			}
			.add-to-wishlist
			{
				font-size:6vw;
				margin-top:-70%;
			}
			#message
			{
				display:none;
			}
			
		}
		
		
		/*The below is for medium screen resolution*/

		@media screen and (min-width:500px) and (max-width: 970px)
		{
			.Global_header
			{
				display:none;
			}
			.mobile-header
			{
				display:block;
			}
			.social-ico
			{
				width:30px;
				height:30px;
				
				float:left;
			}
			.social-ico
			{
				width:30px;
				height:30px;
				
				float:left;
			}
			.fab
			{
				font-size: 2.5vw;
			}
			.brand-in-product
			{
				margin-left:25%;
				font-size:30pt;
				float:left;
				color:orange;
				font-family: Lobster;
			}
			.single-line-detail
			{
				font-size:2.5vw;
			}
			.add-to-wishlist
			{
				font-size:3vw;
				margin-top:-26%;
			}
		}